/* prettyPhoto */
div.pp_default .pp_description {
	color: #666666;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {

	/* Use 2x size images */
	div.pp_default .pp_expand,
	div.pp_default .pp_expand:hover,
	div.pp_default .pp_contract,
	div.pp_default .pp_contract:hover,
	div.pp_default .pp_close,
	div.pp_default .pp_nav .pp_play,
	div.pp_default .pp_nav .pp_pause,
	div.pp_default a.pp_arrow_previous,
	div.pp_default a.pp_arrow_next {
		background-image: url('../images/sprite_2x.png');
		background-size: 130px 147px;
	}
	div.pp_default .pp_next:hover {
		background-image: url('../images/sprite_next_2x.png');background-size: 28px 30px;
	}
	div.pp_default .pp_previous:hover {
		background-image: url('../images/sprite_prev_2x.png');background-size: 28px 30px;
	}
	div.pp_default .pp_content,
	div.light_rounded .pp_content {
		background-color: #f8f8f8;
	}

	/**
	 * We'll integrate the following 2x images on the wrapping elements
	 * when more browsers provide better support for backgorund scaling
	 * on retina. Currently the following only looks good in Safari.
	 */

	/* This version modfies the frame to not use images at all ... */

	div.pp_default .pp_top .pp_left,
	div.pp_default .pp_top .pp_middle,
	div.pp_default .pp_top .pp_right,
	div.pp_default .pp_content_container .pp_left,
	div.pp_default .pp_content_container .pp_right,
	div.pp_default .pp_bottom .pp_left,
	div.pp_default .pp_bottom .pp_middle,
	div.pp_default .pp_bottom .pp_right {
		background-color: #f8f8f8;
		background-image: none;
	}
	div.pp_default .pp_top {
		height: 16px;
	}
	div.pp_default .pp_top .pp_left {
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topleft: 10px;
		border-top-left-radius: 10px;
		border-left: 5px solid #202020;
		border-top: 5px solid #202020;
	}
	div.pp_default .pp_top .pp_right {
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		border-top-right-radius: 10px;
		border-right: 5px solid #202020;
		border-top: 5px solid #202020;
	}
	div.pp_default .pp_top .pp_middle {
		border-top: 5px solid #202020;
	}
	div.pp_default .pp_content_container .pp_left {
		border-left: 5px solid #202020;
		padding-left: 11px;
	}
	div.pp_default .pp_content_container .pp_right {
		border-right: 5px solid #202020;
	}
	div.pp_default .pp_bottom .pp_left {
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-pp_bottomleft: 10px;
		border-top-pp_bottom-radius: 10px;
		border-left: 5px solid #202020;
		border-bottom: 5px solid #202020;
	}
	div.pp_default .pp_bottom .pp_right {
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		border-bottom-right-radius: 10px;
		border-right: 5px solid #202020;
		border-bottom: 5px solid #202020;
	}
	div.pp_default .pp_bottom .pp_middle {
		border-bottom: 5px solid #202020;
	}

	/* .. And this version actually replaces the images on
	 * the frame. This version requires less fudging around
	 * but as I described above doesn't quite look great in
	 * the current state of the Internet and browsers.
	 */

	/*
	div.pp_default .pp_top .pp_left,
	div.pp_default .pp_top .pp_right,
	div.pp_default .pp_bottom .pp_left,
	div.pp_default .pp_bottom .pp_right {
		background-image: url('../images/sprite_2x.png');
		background-size: 130px 147px;
	}
	div.pp_default .pp_content_container .pp_left,
	div.pp_default .pp_content_container .pp_right {
		background-image: url('../images/sprite_y_2x.png');
		background-size: 61px 130px;
	}
	div.pp_default .pp_top .pp_middle,
	div.pp_default .pp_bottom .pp_middle {
		background-image: url('../images/sprite_x_2x.png');
		background-size: 130px 47px;
	}
	*/
}